/logs
/__pycache__
/.history
/vosk-model-small-cn-0.22
/vosk-model-cn-0.22
/build/main
/main.spec
/dist
/upx-4.2.4-win64
/main.exe
tempCodeRunnerFile.python
/SenseVoiceSmall
/speexdsp
/savePath
/voice_samples
/voice_print_db
/dialog_history.db
/database
/process_req.py
/memory
/.vscode